<nav class="navbar navbar-expand-md bg-mediumblue navbar-dark fixed-top"
style="background-color: mediumblue;">

    <a class="navbar-brand" href="#">Minha App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" style="color: white;" >Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-list" style="color: white;">Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-create" style="color: white;">Criar Contato</a>
            </li>
        </ul>
    </div>
</nav>
