footer {
  position: absolute;
  right: 0%;
  bottom: 0px;
  left: 0%;
  width: 100%;
  text-align: center;
  color: white;
  background-color:mediumblue;
  padding-top: 5px;
  padding-bottom: 0px;

}
